.header{
    background: url(../../assets/img/header_menu_bg_1.jpg);
    background-position: center top;
    background-repeat: no-repeat;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1600px;
    margin: 0 auto;
    height: 116px;
}
.logo img{
    /* margin-left: 50px; */
    width: 180px;
}
.main-nav-bar{
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 17px;
    list-style: none;
    color: white;
}
.main-nav-bar-item{
    margin-right: 15px;
    position: relative;
}
.main-nav-bar-item:hover>a{
    color: orange;
}
.main-nav-bar-item a{
    color: white;
    text-decoration: none;
    font-family: 'Cormorant Upright', serif;
}
.header-contact{
    display: flex;
    flex-wrap: wrap;
    width: 221px;
    font-family: 'Cormorant Upright', serif;
}
.header-contact-link{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.header-contact-span{
    color: orange;
}
.nav-services-link{
    margin-right: 3px;
}
.nav-services{
    margin-top: 10px;
    background: black;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 5;
  width: 250px;
  list-style: none;
  padding: 0;
  opacity: 0;
  transform: scaleY(0);
  /* transform-origin: 0 0; */
  transition: .5s ease-in-out;
}
.nav-services-item{
    padding: 7px 10px;
    border-bottom: 0.25px solid silver;
}
.nav-services a{
    color: white;
  text-align: left;
  font-family: 'Cormorant Upright', serif;
  font-size: 17px;
  width: 100%;
}
.nav-services-item:last-child a {
    border-bottom: none;
}
.main-nav-bar-item:hover .nav-services{
    opacity: 1;
  transform: scaleY(1);
}
.nav-services-item:hover>a{
    color: orange;
}
