<div class="header">
  <div class="container">
    <span class="logo">
      <img src="../../assets/img/logo.png" alt="">
    </span>
    <ul class="main-nav-bar">
      <li class="main-nav-bar-item"><a href="#">ГЛАВНАЯ</a></li>
      <li class="main-nav-bar-item">
        <a href="#" class="nav-services-link">УСЛУГИ</a>
        <svg enable-background="new 0 0 24 24" id="Layer_1" version="1.0" viewBox="0 0 24 24" xml:space="preserve"
          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10">
          <polyline fill="none" points="21,8.5 12,17.5 3,8.5 " stroke="white" stroke-miterlimit="10" stroke-width="2" />
        </svg>
        <ul class="nav-services">
          <li class="nav-services-item"><a href="#">СОЗДАНИЕ САЙТОВ</a></li>
          <li class="nav-services-item"><a href="#">ПРОДВИЖЕНИЕ САЙТОВ</a></li>
          <li class="nav-services-item"><a href="#">ДОРАБОТКА САЙТОВ</a></li>
        </ul>
      </li>
      <li class="main-nav-bar-item"><a href="#">ПОРТФОЛИО САЙТОВ</a></li>
      <li class="main-nav-bar-item"><a href="#">О НАС</a></li>
      <li class="main-nav-bar-item"><a href="#">ОТЗЫВЫ</a></li>
      <li class="main-nav-bar-item"><a href="#">БЛОГ</a></li>
      <li class="main-nav-bar-item"><a href="#">КОНТАКТЫ</a></li>
    </ul>
    <span class="header-contact">
      <a href="#" class="header-contact-link">
        <span class="header-contact-span">+38(093)</span>
        055 86 69
      </a>
      <a href="#" class="header-contact-link">
        <span class="header-contact-span">+38(093)</span>
        055 86 69
      </a>
    </span>
  </div>
</div>
