<div class="main-banner">
    <div class="banner-content">
        <p class="banner-title">
            <span class="banner-title-span">РАЗРАБОТКА</span>
            И ПРОДВИЖЕНИЕ САЙТОВ
        </p>
        <p class="banner-par">НАЧНИТЕ ПОЛУЧАТЬ ПЕРВЫЕ ПРОДАЖИ УЖЕ ЧЕРЕЗ 17 ДНЕЙ</p>
        <span class="line" class="line1"></span>
        <span class="line" class="line2"></span>
        <span class="line" class="line3"></span>
        <span class="line" class="line4"></span>
        <span class="line" class="line5"></span>
    </div>
</div>
