<header class="page-header" id="pageHeader">
    <div class="container">
        <a href="" class="logo">
            <img src="../../assets/img/logo.png" alt="Логотип" heigth="80" class="logo__img">
        </a>
        <nav class="main-nav">
            <ul class="main-nav__list">
                <li class="main-nav__item"><a href="" class="main-nav__link">Головна</a></li>
                <li class="main-nav__item sub-main-nav">
                    <a href="" class="main-nav__link" (click)="showMenu(subMainNavLink, subMainNavIcon, subMainNavList)"
                        #subMainNavLink>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" fill="#ffffff" class="sub-main-nav__icon"
                            xmlns="http://www.w3.org/2000/svg" #subMainNavIcon>
                            <path
                                d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                        </svg>
                        Послуги
                    </a>
                    <ul class="sub-main-nav__list" #subMainNavList>
                        <li class="sub-main-nav__item">
                            <a href="" class="sub-main-nav__link">Створення сайтів</a>
                        </li>
                        <li class="sub-main-nav__item">
                            <a href="" class="sub-main-nav__link">Просування сайтів</a>
                        </li>
                        <li class="sub-main-nav__item">
                            <a href="" class="sub-main-nav__link">Інші послуги</a>
                        </li>
                    </ul>
                </li>
                <li class="main-nav__item"><a href="" class="main-nav__link">Наше Портфоліо</a></li>
                <li class="main-nav__item"><a href="" class="main-nav__link">Про нас</a></li>
                <li class="main-nav__item"><a href="" class="main-nav__link">Відгуки</a></li>
                <li class="main-nav__item"><a href="" class="main-nav__link">Блог</a></li>
                <li class="main-nav__item"><a href="" class="main-nav__link">Контакти</a></li>
            </ul>
        </nav>
        <div class="contacts">
            <a href="" class="contacts__link">
                <span class="contacts__link_color">+38(093)</span>
                055 86 69
            </a>
            <a href="" class="contacts__link">
                <span class="contacts__link_color">+38(093)</span>
                055 86 69
            </a>
        </div>
    </div>
</header>