<section class="development">
    <div class="container">
        <h2 class="section-title">Про те як ми розвиваємо ваш бізнес</h2>
        <ul class="development-list">
            <li class="development-list__item">
                <figure class="development-list__figure">
                    <img src="../../../assets/img/uslygi_ic_1.png" alt="Розробка сайтів" class="development-list__icon">
                    <figcaption class="development-list__number">01</figcaption>
                </figure>
                <div class="development-list__content">
                    <a href="#" class="development-list__link">Розробка сайтів</a>
                    <p class="development-list__text">
                        Создаем сайты любой сложности - эксклюзивные веб-сайты с
                        невероятно высокой
                        конверсией до
                        35% и всего за 29 дней!</p>
                </div>
            </li>
            <li class="development-list__item">
                <figure class="development-list__figure">
                    <img src="../../../assets/img/uslygi_ic_2.png" alt="Розробка сайтів" class="development-list__icon">
                    <figcaption class="development-list__number">02</figcaption>
                </figure>
                <div class="development-list__content">
                    <a href="#" class="development-list__link">ПРОДВИЖЕНИЕ САЙТОВ</a>
                    <p class="development-list__text">Создаем сайты любой сложности - эксклюзивные веб-сайты с
                        невероятно высокой
                        конверсией до
                        35% и всего за 29 дней!</p>
                </div>
            </li>
            <li class="development-list__item">
                <figure class="development-list__figure">
                    <img src="../../../assets/img/uslygi_ic_3.png" alt="Розробка сайтів" class="development-list__icon">
                    <figcaption class="development-list__number">03</figcaption>
                </figure>
                <div class="development-list__content">
                    <a href="#" class="development-list__link">ПОДДЕРЖКА САЙТА</a>
                    <p class="development-list__text">Создаем сайты любой сложности - эксклюзивные веб-сайты с
                        невероятно высокой
                        конверсией до
                        35% и всего за 29 дней!</p>
                </div>
            </li>
            <!-- <div class="item-img-block">
                                <img src="../../../assets/img/uslygi_ic_1.png" alt="">
                                <span class="item-img-block-number">01</span>
                            </div>
                            <div class="item-list-content">
                                <a href="#" class="item-list-link">РАЗРАБОТКА САЙТОВ</a>
                                <p class="item-list-par">Создаем сайты любой сложности - эксклюзивные веб-сайты с невероятно высокой
                                    конверсией до
                                    35% и всего за 29 дней!</p>
                            </div> -->
            <!-- <li class="development-list__item">
                <div class="item-img-block">
                    <img src="../../../assets/img/uslygi_ic_2.png" alt="">
                    <span class="item-img-block-number">02</span>
                </div>
                <div class="item-list-content"><a href="#" class="item-list-link">ПРОДВИЖЕНИЕ САЙТОВ</a>
                    <p class="item-list-par">Рекламируем сайты на всех интернет площадках, анализируем конверсии и
                        отбираем
                        только
                        эффективные источники</p>
                </div>
            </li>
            <li class="development-list__item">
                <div class="item-img-block">
                    <img src="../../../assets/img/uslygi_ic_3.png" alt="">
                    <span class="item-img-block-number">03</span>
                </div>
                <div class="item-list-content">
                    <a href="#" class="item-list-link">ПОДДЕРЖКА САЙТА</a>
                    <p class="item-list-par">Задействуем комплекс мер для вашего сайта, чтоо дает вам преимущества и
                        значительно
                        выделяет его среди конкурентов</p>
                </div>
            </li> -->
        </ul>
    </div>
</section>