.development{
    background-image: url(../../../assets/img/bg_1.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    padding: 7% 0;
}
.development-title{
    padding: 0;
    margin: 0;
    font: 42px 'Roboto';
    font-weight: bold;
    width: 100%;
    text-align: center;
    position: relative;
}
.development-title::after{
    content: '';
    width: 260px;
    height: 3px;
    background-color: #C5A87B;
    position: absolute;
    top: 80px;
    left: 41%;
}
.development-list{
    padding: 0;
    margin-top: 80px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.development-list-item{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
}
.item-img-block{
    background-image: url(../../../assets/img/uslygi_ic_bg.png);
    background-repeat: no-repeat;
    background-size: 105px 105px;
    background-position: left top;
    display: flex;
    flex-direction: column;
    width: 105px;
    margin-right: 30px;
}
.item-img-block img{
    margin-top: 24px;
    margin-left: 21px;
    width: 72px;
    height: 57px;
    position: relative;
}

.item-img-block-number{
    color: #C5A87B;
    font: 32px 'Roboto';
    font-weight: bold;
    display: block;
    margin-top: 80px;
    width: 100%;
    text-align: center;
    position: relative;
}
.development-list-item .item-img-block-number::before{
    content: '';
    width: 75px;
    height: 2px;
    background-color: #C5A87B;
    position: absolute;
    top: -33px;
    left: 15px;
}
.item-list-link{
    text-decoration: none;
    font: 30px 'Roboto';
    font-weight: bold;
    text-align: left;
    color: black;
    width: 300px;
    display: inline-block;
}
.item-list-par{
    width: 300px;
    font: 16px 'Roboto';
    text-align: left;
}