<div class="development">
  <h2 class="development-title">ТО КАК МЫ РАЗВИВАЕМ ВАШ БИЗНЕС</h2>
  <ul class="development-list">
    <li class="development-list-item">
      <div class="item-img-block">
        <img src="../../../assets/img/uslygi_ic_1.png" alt="">
        <span class="item-img-block-number">01</span>
      </div>
      <div class="item-list-content">
        <a href="#" class="item-list-link">РАЗРАБОТКА САЙТОВ</a>
        <p class="item-list-par">Создаем сайты любой сложности - эксклюзивные веб-сайты с невероятно высокой конверсией до
          35% и всего за 29 дней!</p>
      </div>
    </li>
    <li class="development-list-item">
      <div class="item-img-block">
        <img src="../../../assets/img/uslygi_ic_2.png" alt="">
        <span class="item-img-block-number">02</span>
      </div>
      <div class="item-list-content"><a href="#" class="item-list-link">ПРОДВИЖЕНИЕ САЙТОВ</a>
        <p class="item-list-par">Рекламируем сайты на всех интернет площадках, анализируем конверсии и отбираем только
          эффективные источники</p>
      </div>
    </li>
    <li class="development-list-item">
      <div class="item-img-block">
        <img src="../../../assets/img/uslygi_ic_3.png" alt="">
        <span class="item-img-block-number">03</span>
      </div>
      <div class="item-list-content">
        <a href="#" class="item-list-link">ПОДДЕРЖКА САЙТА</a>
        <p class="item-list-par">Задействуем комплекс мер для вашего сайта, чтоо дает вам преимущества и значительно
          выделяет его среди конкурентов</p>
      </div>
    </li>
  </ul>
</div>
