<section class="banner-first">
    <div class="banner-first__content">
        <h2 class="banner-first__title">
            <span>Розробка</span>
            і просування сайтів
        </h2>
        <p class="banner-first__text">Отримуйте перші замовлення вже через 17 днів</p>
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
        <span class="line line-4"></span>
        <span class="line line-5"></span>
    </div>
</section>